body {
  background-color: #B4B897;
}

hr {
  background-color: none;
  border-style:none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}

h1{
  color: #6B7AA1;
}
h3{
  color: #53B8BB;
}
.circular{
  border-radius: 100%;
}

h1 :hover{
  color: gold;
}


/*
            CLASS SELECTORS
*/




.prajwal{
  height: 140px;
}
